.n-background {
  background: none;
  padding-bottom: 0.2em;
  margin-bottom: 0;
  box-shadow: none;
  border: 0;
  background-color: #fff;
  padding: 0.5em;
}
.n-background a {
  text-decoration: none;
  color: inherit;
}
.logo {
  font-size: 1.4em;
  z-index: 3;
  text-shadow: none;
  color: gray;
  font-weight: 400;
  font-family: "source sans pro";
  /* background-image: url("%PUBLIC_URL%/img/map-markers/pin.svg"); */
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position-x: -30%;
}
.logo span {
  padding-left: 1.5em;
  font-weight: 700;
  color: darkcyan;
}
.logo com {
  font-size: 0.5em;
}
.navbar-nav .nav-shortlist {
  /* background-image: url(/img/icons/list-heart.svg); */
  height: 2.5em;
  width: 2.5em;
  float: right;
  margin-top: 0.8em;
  margin-left: 2em;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.1em;
  margin-top: 0.23em;
  color: #333;
}
.nav a:active,
.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: inherit;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: none;
  color: #999;
}
.login-button {
  font-size: 1.05em;
  padding-top: 0.6em;
  color: #fff;
}
.login-button:hover {
  color: #ddd;
}
